{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://yt3.googleusercontent.com/ytc/APkrFKb0_i1xmQq588nhhf7XX7JyhaMq6CwUHsG0qFGp2Q=s900-c-k-c0x00ffffff-no-rj" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block head %}  {% endblock %}</title>
    {% block style %} {% endblock %}
</head>
    {% block content %}

    {% endblock %}
</html> 